.headerNavBar {
    background-color: #131313;
    padding : 20px 104px 20px;
}

.headerLink {
    color: white;
    font-family: roboto-mono,monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    border-bottom-width: 0;
}

@media screen and (max-width: 750px) {
    .headerNavBar {
      padding: 20px 40px 20px;
    }
}
